.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}


.space-grotesk-light {
                    font-family: "Space Grotesk", serif;
                    font-optical-sizing: auto;
                    font-weight: 400;
                    font-style: normal;
                }


.space-grotesk-medium {
                    font-family: "Space Grotesk", serif;
                    font-optical-sizing: auto;
                    font-weight: 500;
                    font-style: normal;
                }


.space-grotesk-semibold {
                    font-family: "Space Grotesk", serif;
                    font-optical-sizing: auto;
                    font-weight: 600;
                    font-style: normal;
                }

.space-grotesk-bold {
                    font-family: "Space Grotesk", serif;
                    font-optical-sizing: auto;
                    font-weight: 700;
                    font-style: normal;
                }